.DS_Store
private-env.sh
private-env.auto.fish
git/gitconfig.local.symlink
ruby/bundle.symlink/cache/
vim/vim.symlink/plugged
vim/vim.symlink/spell
tags*

fish/fishd.*

sublime-text/User/Package Control.cache/
sublime-text/User/Package Control.last-run
sublime-text/User/oscrypto-ca-bundle.crt
sublime-text/User/Package Control.user-ca-bundle
sublime-text/User/Package Control.merged-ca-bundle